* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: #8CC461;
  min-height: 100vh;
  
  color: #ffffff;
}


.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
  height: 100%;
}

.main-div {
  display: flex;
}

.main-score {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.score {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 125px;
  height: 125px;
  line-height: 1;
}

.score__title {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: black
}

.comScore__number {
  font-size: 4rem;
  font-weight: 700;
  color: black;
}

.yourScore__number {
  font-size: 4rem;
  font-weight: 700;
  color: black;
}


.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "paper scissors"
    "rock rock";
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  background: url("./images/bg-triangle.svg") no-repeat;
  z-index: -1;
}


.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #223351;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 62%));
  box-shadow: 0 0.5rem #0000004d, 0 0.5rem hsl(230, 89%, 62%);
}
.choice.scissors::before {
  background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(39, 89%, 49%));
  box-shadow: 0 0.5rem #0000004d, 0 0.5rem hsl(39, 89%, 49%);
}
.choice.rock::before {
  background: linear-gradient(to bottom, hsl(313, 64%, 51%), hsl(313, 64%, 51%));
  box-shadow: 0 0.5rem #0000004d, 0 0.5rem hsl(313, 64%, 51%);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 10rem;
  min-height: 10rem;

  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
}
.play-again,
.play-again__2 {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: black;
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 10px #2e9a25, 0 0 0 20px #50a312, 0 0 0 35px #73af45;
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.play-again:focus {
  border: 2px solid #fff;
}


.rules-btn {
  position: absolute;

  right: 12rem;

  background: none;
  outline: none;
  border: 2px solid #fff;;
  border-radius: 0.6rem;
  color: white;
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  bottom: 20px;
}

.Next__btn {
  position: absolute;

  right: 1rem;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.6rem;
  color: white;
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  bottom: 21px;
}

.rules-btn:focus {
  border: 2px solid #fff;
}


.rule-container {
  text-align: justify;
  margin-top: 100px;
  
}
#game__rule {
  text-align: center;
}



.hidden,
#hidden {
  display: none;
}


.trophy__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.trophy__img {
  height: 90%;
  width: 100%;
}

.play__btn {
  z-index: 200;
  padding: 1rem;
  border: #ffffff;
  border-radius: 1rem;
  width: 10%;
  margin-bottom: 5rem;
}

.show {
  position: absolute;
  height: 350px;
  width: 300px;
  bottom: 7rem;
  right: 2rem;
  background: rgb(13, 75, 13);
  outline: none;
  border: 10px solid white;
  border-radius: 0.6rem;
  color: white;
  padding: 0.6rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.show > ul {
  margin-top: 5px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.close-btn {
  position: absolute;
  background-color: red;
  height: 2.5rem;
  width: 2.5rem;
  border: 6px solid white;
  left: 16.5rem;
  bottom: 20rem;
  outline: none;
  border-radius: 3rem;
  font-family: inherit;
  text-transform: inherit;
  cursor: pointer;
  
}

